@inherits LayoutComponentBase
@using BlazorPro.BlazorSize
@using wfbc.page.Shared.Models
@inject AppState AppState
@implements IDisposable

<MediaQueryList>

    <MediaQuery Media="@Breakpoints.XSmallDown">
        <Matched>
            <MobileDrawer />
        </Matched>
    </MediaQuery>
    <MediaQuery Media="@Breakpoints.Between(Breakpoints.SmallUp, Breakpoints.MediumDown)">
        <Matched>
            <TabletDrawer />
        </Matched>
    </MediaQuery>

    <div class="drawer-container @AppState.DrawerCssClass @AppState.MobileCssClass">
        <aside class="drawer">
            <div class="drawer-logo">
                <DrawerLogo />
            </div>
            <nav class="nav-menu">
                <ul>
                    <li class="nav-menu-item left-column-item"><a href="#">Home</a></li>
                    <li class="nav-menu-item left-column-item"><a href="#">Standings</a></li>
                    <li class="nav-menu-item left-column-item"><a href="/draftpicks">Draft Picks</a></li>
                    <li class="nav-menu-item left-column-item"><a href="/rulebook">Rulebook</a></li>
                    <li class="nav-menu-item left-column-item"><a href="#">Trade</a></li>
                    <li class="nav-menu-item left-column-item"><a href="#">Lineup Moves</a></li>
                    <AuthorizeView Policy="@Policies.IsCommish">
                        <li class="nav-menu-item left-column-item"><a href="/commish">Commish</a></li>
                    </AuthorizeView>
                </ul>
            </nav>
            <nav class="side-menu @AppState.SideMenuCssClass">
                <NavMenu />
            </nav>
        </aside>
        <div class="main-container">
            <MenuBar />
            <div class="main" @onclick="@CloseManagerMenu">
                <div class="content"> 
                    @Body
                </div>
            </div>
        </div>
    </div>
</MediaQueryList>

@code {

    public void CloseManagerMenu()
    {
        AppState.SetOpenManagerMenu(close: true);
    }

    protected override void OnInitialized()
    {
        AppState.SetIsLarge(true);
        AppState.OnChange += StateHasChanged;
    }

    public void Dispose()
    {
        AppState.OnChange -= StateHasChanged;
    }
}
