@inherits LayoutComponentBase
@using BlazorPro.BlazorSize
@using WFBC.Shared.Models
@using WFBC.Client.Shared.SVG
@inject AppState AppState
@inject NavigationManager Navigation
@implements IDisposable

<MediaQueryList>

    <MediaQuery Media="@Breakpoints.XSmallDown">
        <Matched>
            <MobileDrawer />
        </Matched>
    </MediaQuery>
    <MediaQuery Media="@Breakpoints.Between(Breakpoints.SmallUp, Breakpoints.MediumDown)">
        <Matched>
            <TabletDrawer />
        </Matched>
    </MediaQuery>

    <div class="drawer-container @AppState.DrawerCssClass @AppState.MobileCssClass">
        <aside class="drawer">
            <div class="drawer-logo">
                <DrawerLogo />
            </div>
            <nav class="nav-menu">
                <ul>
                    <li class="nav-menu-item left-column-item"><NavLink class=@(navSection == "home" ? "active" : "") href="#" @onclick="() => ChangeNavSection(home)">Home</NavLink></li>
                    <li class="nav-menu-item left-column-item"><NavLink class=@(navSection == "results" ? "active" : "") href="/results/2024" @onclick="() => ChangeNavSection(results)">Results <Stack /></NavLink></li>
                    <li class="nav-menu-item left-column-item"><NavLink class=@(navSection == "rulebook" ? "active" : "") href="/rulebook/2025" @onclick="() => ChangeNavSection(rulebook)">Rulebook <Stack /></NavLink></li>
                    <li class="nav-menu-item left-column-item"><NavLink href="https://docs.google.com/spreadsheets/d/1PksK1PLBXiG3jnQnXCLyAKusrfTZVxdMZ721nUzk11I/edit?usp=sharing" target="_blank">Drafts <ExternalLink /></NavLink></li>
                    <li class="nav-menu-item left-column-item"><NavLink href="https://docs.google.com/spreadsheets/d/1t4w4Mo9HRRAXgy2rzVWhFrWJi1qSTLW3oXPj9VbWUyA/edit?usp=sharing" target="_blank">Picks <ExternalLink /></NavLink></li>
                    <AuthorizeView Policy="@Policies.IsCommish">
                        <li class="nav-menu-item left-column-item"><NavLink class=@(navSection == "commish" ? "active" : "") href="/commish" @onclick="() => ChangeNavSection(commish)">Commish</NavLink></li>
                    </AuthorizeView>
                </ul>
            </nav>
            <nav class="side-menu @AppState.SideMenuCssClass">
                <CascadingValue Value="navSection" Name="nav-menu-section">
                    <NavMenu />
                </CascadingValue>
            </nav>
        </aside>
        <div class="main-container w-[inherit] z-10 bg-wfbc-white-1">
            <MenuBar />
            <main class="main absolute top-[48px] bottom-0 overflow-auto" @onclick="@CloseMenus">
                <div class="flex flex-col lg:flex-row px-1 items-center">
                    <CascadingValue Value="this">
                        @Body
                    </CascadingValue>
                </div>
            </main>
        </div>
    </div>
</MediaQueryList>

@code {
    private string navSection = "home";
    private string home = "home";
    private string results = "results";
    private string rulebook = "rulebook";
    private string commish = "commish";
    public void ChangeNavSection(string section)
    {
        navSection = section;
        StateHasChanged();
    }

    public void CloseMenus()
    {
        AppState.SetOpenManagerMenu(close: true);

        if (AppState.IsXSmall)
        {
            AppState.SetDrawerClosed(true);
        }
    }

    protected override void OnInitialized()
    {
        AppState.SetIsLarge(true);
        AppState.OnChange += StateHasChanged;
    }

    public void Dispose()
    {
        AppState.OnChange -= StateHasChanged;
    }
}
