@page "/commish/add_team"
@page "/commish/edit_team/{teamID}"
@inherits AddEditTeamModel
@using WFBC.Client.Shared.Components.Buttons


<EditForm class="flex flex-col my-6 lg:mx-6 w-full md:w-1/2 lg:w-1/6" Model="@team" OnValidSubmit="SaveTeam">
    <DataAnnotationsValidator />
    <label class="block">
        <span class="text-wfbc-blue-2">Name</span>
        <InputText @bind-Value="team.Name" class="mt-1 pl-2 block w-full rounded-md bg-wfbc-grey-1 border-transparent focus:border-wfbc-blue-2 focus:bg-wfbc-white-1 focus ring-0" />
@*        <input @bind="team.Name"
               type="text"
               class="mt-1 pl-2 block w-full rounded-md bg-wfbc-grey-1 border-transparent focus:border-wfbc-blue-2 focus:bg-wfbc-white-1 focus ring-0" />*@
        <ValidationMessage For="@(() => team.Name)" />
    </label>
    <label class="block">
        <span class="text-wfbc-blue-2">Manager</span>
        <InputSelect @bind-Value="team.ManagerId" class="mt-1 pl-2 h-6 block w-full rounded-md bg-wfbc-grey-1 border-transparent focus:border-wfbc-blue-2 focus:bg-wfbc-white-1 focus ring-0">
            <option value=""></option>
            @foreach (Manager manager in managers)
            {
                <option value="@manager.Id">@manager.FirstName</option>
            }
        </InputSelect>
@*        <input @bind="team.Name"
               type="text"
               class="mt-1 pl-2 block w-full rounded-md bg-wfbc-grey-1 border-transparent focus:border-wfbc-blue-2 focus:bg-wfbc-white-1 focus ring-0" />
        <ValidationMessage For="@(() => team.Name)" />*@
    </label>
    <Button OnClickFunction=SaveTeam ButtonText="Save Team" ButtonType="submit" MaxWidth="max-w-full" MarginPadding="mx-2 mt-4 px-4 py-2" />
    <Button ButtonText="Cancel" Href="/commish/teams" MaxWidth="max-w-full" MarginPadding="mx-2 mt-2 px-4 py-2" />
</EditForm>

@code {

}
