@page "/commish/managers"
@attribute [Authorize(Policy = Policies.IsCommish)]
@inherits ManagersModel
@using WFBC.Client.Shared.Components.Buttons;


<div class="flex flex-col m-3 lg:m-6 max-w-full">
    <div class="flex p-4 mb-2 border rounded-xl shadow-sm">
        <Button ButtonText="Add Manager" Href="/commish/add_manager" Role="button" AriaLabel="add manager link" />
   </div>

    <div class="p-6 border rounded-xl shadow-sm">
        <div class="-m-1.5 overflow-x-auto">
            <div class="p-1.5 min-w-full inline-block align-middle">
                <div class="overflow-hidden">
                    <table class="table-auto min-w-full divide-y divide-wfbc-blue-2">
                        <thead>
                            <tr>
                                <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-wfbc-black-1 uppercase">Name</th>
                                <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-wfbc-black-1 uppercase">Team</th>
                                <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-wfbc-black-1 uppercase">Email</th>
                                <th scope="col" class="px-6 py-3 text-right text-xs font-medium text-wfbc-black-1 uppercase">Options</th>
                            </tr>
                        </thead>
                        <tbody class="divide-y divide-wfbc-blue-2">
                            @foreach (var manager in managers)
                            {
                                <tr>
                                    <td class="p-2 md:p-4 text-sm md:text-md">@manager.FirstName</td>
                                    <td class="p-2 md:p-4 text-sm md:text-md whitespace-nowrap">@(teams.Where(t => t.ManagerId == manager.Id).FirstOrDefault()?.Name)</td>
                                    <td class="p-2 md:p-4 text-sm md:text-md">@manager.Email</td>
                                    <td class="p-2 md:p-4 text-sm md:text-md flex">
                                        <Button ButtonText="Edit" Href=@("/commish/edit_manager/" + @manager.Id) AriaLabel="edit manager link" />
                                        <Button ButtonText="Delete" FunctionParameter="@manager.Id" OnClickFunction=OpenDeleteManagerModal AriaLabel="open delete manager modal" />
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

</div>

<Modal ModalId="delete-manager-modal" Hidden="@Hidden" CloseModal=CloseModal>
    <h3 class="mb-5 text-lg font-normal text-wfbc-black-1">Are you sure you want to delete this manager?</h3>
    <h3 class="mb-5 text-lg font-normal text-wfbc-black-1">@($"name: {manager.FirstName} {manager.LastName}")</h3>
    <Button ButtonText="Yes, I'm sure" OnClickFunction=Delete FunctionParameter="@manager.Id" Hover="hover:bg-wfbc-red-1" />
    <Button ButtonText="No, cancel" OnClickFunction=CloseModal />
</Modal>


@code {
    public string Hidden { get; set; }

    protected override async Task OnInitializedAsync()
    {
        Hidden = "hidden";
        await base.OnInitializedAsync();
    }

    public void OpenDeleteManagerModal(string manId)
    {
        Hidden = "";
        DeleteConfirm(manId);
    }
    public void CloseModal()
    {
        Hidden = "hidden";
    }
    public async Task Delete(string id)
    {
        await DeleteManager(id);
        CloseModal();
    }
}
