@page "/commish"
@inherits CommishDataModel

<h3>Commish</h3>

<button>Managers</button>
<button>Draft Picks</button>
<button>Trades</button>

<a href="/manager/add" class="btn btn-primary" role="button">Add Manager</a>
<a href="/manager/delete" class="btn btn-primary" role="button">Delete Manager</a>
<a href="/manager/edit" class="btn btn-primary" role="button">Edit Manager</a>

<EditForm Model="@man" OnValidSubmit="AddManager">
    <DataAnnotationsValidator />
    <div class="form-group row">
        <label class="control-label col-md-12">Name</label>
        <div class="col-md-4">
            <input class="form-control" @bind="man.Name" />
        </div>
        <ValidationMessage For="@(() => man.Name)" />
    </div>
    <div class="form-group row">
        <label class="control-label col-md-12">Team Name</label>
        <div class="col-md-4">
            <input class="form-control" @bind="man.TeamName" />
        </div>
        <ValidationMessage For="@(() => man.TeamName)" />
    </div>
    <div class="form-group row">
        <label class="control-label col-md-12">Email</label>
        <div class="col-md-4">
            <input class="form-control" @bind="man.Email" />
        </div>
        <ValidationMessage For="@(() => man.Email)" />
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-primary">Save</button>
    </div>
</EditForm>

@if (manList == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <div class="table-container">
        <table>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Team</th>
                    <th>Email</th>
                    <th>Team Id</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var man in manList)
                {
                    <tr>
                        <td>@man.Name</td>
                        <td>@man.TeamName</td>
                        <td>@man.Email</td>
                        <td>team ID</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
}
