@page "/commish"
@inherits CommishDataModel

<h3>Commish</h3>

@*<EditForm Model="@man" OnValidSubmit="AddManager">
    <DataAnnotationsValidator />
    <div class="form-group row">
        <label class="control-label col-md-12">Name</label>
        <div class="col-md-4">
            <input class="form-control" @bind="man.Name" />
        </div>
        <ValidationMessage For="@(() => man.Name)" />
    </div>
    <div class="form-group row">
        <label class="control-label col-md-12">Team Name</label>
        <div class="col-md-4">
            <input class="form-control" @bind="man.TeamName" />
        </div>
        <ValidationMessage For="@(() => man.TeamName)" />
    </div>
    <div class="form-group row">
        <label class="control-label col-md-12">Email</label>
        <div class="col-md-4">
            <input class="form-control" @bind="man.Email" />
        </div>
        <ValidationMessage For="@(() => man.Email)" />
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-primary">Save</button>
    </div>
</EditForm>*@

<div class="table-container manager-table">
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Team</th>
                <th>Email</th>
                <th>Team Id</th>
                <th>Options</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var man in manList)
            {
                <tr>
                    <td>@man.Name</td>
                    <td>@man.TeamName</td>
                    <td>@man.Email</td>
                    <td>team ID</td>
                    <td>
                        <button type="button" aria-label="open modal" @onclick='() => OpenModal("delete", man.Id)'>Delete</button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

<div class="modal-overlay @modal_overlay_state" id="modal-overlay"></div>
<div class="modal @modal_state" id="delete-manager-modal">
    <button class="close-button" id="close-button" @onclick="CloseModal">Close</button>
    <div class="modal-stuffs delete-manager-modal">
        <h4>Confirm Delete</h4>
        <table class="table">
            <tr>
                <td>Name</td>
                <td>@man.Name</td>
            </tr>
            <tr>
                <td>Id</td>
                <td>@man.Id</td>
            </tr>
            <tr>
                <td>Email</td>
                <td>@man.Email</td>
            </tr>
        </table>
        <button class="button" @onclick="async () => await DeleteManager(man.Id)">Delete</button>
    </div>
</div>


@code {
    private string modal_state = "closed-modal";
    private string modal_overlay_state = "closed-modal";

    public void CloseModal()
    {
        modal_state = "closed-modal";
        modal_overlay_state = "closed-modal";
    }
    public void OpenModal(string modalType, string manId)
    {
        if (modalType == "delete")
        {
            DeleteConfirm(manId);
            modal_state = "";
            modal_overlay_state = "";
        }
    }
}