@page "/"
@using Microsoft.AspNetCore.Components.Authorization
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication
@using System.Security.Claims

<h1>the World Fantasy Baseball Classic</h1>
<p>Est. 2011</p>
<br />
<h3>2021 Trade Deadline: Septemper 27 12:00:00 AM PST</h3>
<h5>--trading resumes at the conclusion of the final (non-tiebreaker) game of the MLB regular season</h5>
<br />
<h3>2022 Pre-Season Draft: TBD</h3>
<br />
<h3><a href="https://docs.google.com/spreadsheets/d/1t4w4Mo9HRRAXgy2rzVWhFrWJi1qSTLW3oXPj9VbWUyA/edit?usp=sharing" target="_blank">Draft Picks Sheet</a></h3>
<br />
<h3><a href="https://docs.google.com/spreadsheets/d/1aclQnwGfbWnC7pEORc8wiXJ-xcyD9WpINyF-26l0EUg/edit?usp=sharing" target="_blank">WFBC Draft Results Sheet</a></h3>
<br />

<AuthorizeView>
    <Authorized>
        Hello, @context.User.Identity.Name
        <ul>
            @foreach (var claim in @context.User.Claims)
            {
                <li>@claim.Type: @claim.Value</li>
            }
            Is Authenticated??? @context.User.Identity.IsAuthenticated
            <br />
            @if (@context.User.HasClaim(ClaimTypes.Role, "Commish"))
            {
                <p>You're the Commish!!!!</p>
            }
            @if (context.User.HasClaim(ClaimTypes.Role, "Managers"))
            {
                <p>You manage alright</p>
            }
        </ul>
    </Authorized>
    <NotAuthorized>
        Not signed in
    </NotAuthorized>
</AuthorizeView>