@page "/"
@using Microsoft.AspNetCore.Components.Authorization
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication
@using System.Security.Claims

<h1>the World Fantasy Baseball Classic</h1>
<p>Est. 2011</p>
<br />
<br />
<h3>2021 Pre-Season Draft: Sunday, March 14 @@ 7:30PM</h3>
<h3>Drops due by Saturday, March 13 @@ 12PM</h3>
<h3>Free agency starts after the draft and ends Saturday, March 20 @@ 12PM</h3>
<br />
<br />

<AuthorizeView>
    <Authorized>
        Hello, @context.User.Identity.Name
        <ul>
            @foreach (var claim in @context.User.Claims)
            {
                <li>@claim.Type: @claim.Value</li>
            }
            Is Commish??? @context.User.IsInRole("Commish")
            Is Manager??? @context.User.IsInRole("Managers")
            @if (@context.User.HasClaim(ClaimTypes.Role, "Commish"))
            {
                <p>You're the Commish!!!!</p>
            }
        </ul>
    </Authorized>
    <NotAuthorized>
        Not signed in
    </NotAuthorized>
</AuthorizeView>